FORMAT: 1A
HOST: http://artsnob.me/

# Art Snob

Art Snob is a simple API allowing consumers to get information about artists and their works

## Artist Collection [/Artist]

### List All Artists [GET]

+ Response 200 (application/json)

        [
            {
                "id": "4d8b92b34eb68a1b2c0003f4",
                "name": "Andy Warhol",
                "sortable_name": "Warhol Andy",
                "gender": "male",
                "birthday": "1928",
                "hometown": "Pittsburgh, Pennsylvania",
                "location": "New York, New York",
                "nationality": "American",
                "artworks": {
                    
                },
                "similar_artists": {
                  
                },
                "genes": {
                  
                },
                
                "_links": {
                "thumbnail": {
                  "href": "https://d32dm0rphc51dk.cloudfront.net/PFufT6nMKNwLOpPEezf4Ww/four_thirds.jpg"
                }
                }
            }
        ]
        
## Artist [/Artist/{id}]

+ Parameters
    + id (number) : The unique id of the artist
    
### View an artist's information [GET]

+ Response 200 (application/json)

        {
            "id": "4d8b92b34eb68a1b2c0003f4",
            "name": "Andy Warhol",
            "sortable_name": "Warhol Andy",
            "gender": "male",
            "birthday": "1928",
            "hometown": "Pittsburgh, Pennsylvania",
            "location": "New York, New York",
            "nationality": "American",
            "artworks": [
                
            ],
            "similar_artists": {
              "href": "https://api.artsy.net/api/artists?similar_to_artist_id=4d8b92b34eb68a1b2c0003f4"
            },
            "genes": {
              "href": "https://api.artsy.net/api/genes?artist_id=4d8b92b34eb68a1b2c0003f4"
            },
            
            "_links": {
            "thumbnail": {
              "href": "https://d32dm0rphc51dk.cloudfront.net/PFufT6nMKNwLOpPEezf4Ww/four_thirds.jpg"
            }
            }
            
        }

## Artwork Collection [/Artwork]

### List All Artworks [GET]
    
        [
            {
                "id": "516dfb9ab31e2b2270000c45",
                "created_at": "2013-04-17T01:32:10+00:00",
                "updated_at": "2016-06-14T06:52:53+00:00",
                "title": "The Old Violin",
                "category": "Painting",
                "medium": "Oil on canvas",
                "date": "1886",
                "dimensions": "38 × 23 5/8 in",
                "collecting_institution": "National Gallery of Art, Washington D.C.",
                "image_rights": "Courtesy National Gallery of Art, Washington",
                "genes": {
                },
                "similar_artworks": {
                }
            }
        ]
        
## Artwork [/Artwork/{id}]

+ Parameters
    + id (number) : The unique id of the artwork
  
### View an artwork's information [GET]

        {
            "id": "516dfb9ab31e2b2270000c45",
            "created_at": "2013-04-17T01:32:10+00:00",
            "updated_at": "2016-06-14T06:52:53+00:00",
            "title": "The Old Violin",
            "category": "Painting",
            "medium": "Oil on canvas",
            "date": "1886",
            "dimensions": "38 × 23 5/8 in",
            "collecting_institution": "National Gallery of Art, Washington D.C.",
            "image_rights": "Courtesy National Gallery of Art, Washington",
            "genes": {
            },
            "similar_artworks": {
            }
        }
    
## Geographic Region Collection [/Region]

### List All Geographic Regions [GET]

        [
            {
            
            }
        ]
        
## Geographic Region [/Region/{name}]

+ Parameters
    + name (string) : The name of the region
  
### View an region's information [GET]

        {
        }
        
## Style Collection [/Style]

### List All Styles [GET]

        [
            {
            
            }
        ]
        
##tyle [/Style/{id}]

+ Parameters
    + id (number) : The unique id of the style
  
### View an style's information [GET]

        {
        }