FORMAT: 1A
HOST: http://artsnob.me/

# Art Snob

Art Snob is a simple API allowing consumers to get information about artists and their works

## Artist Collection [/Artist]

### List All Artists [GET /Artist]

+ Response 200 (application/json)

        [
            {
                "id": "4d8b92b34eb68a1b2c0003f4",
                "name": "Andy Warhol",
                "gender": "male",
                "birthday": "1928",
                "hometown": "Pittsburgh, Pennsylvania",
                "artworks": [
                    {"title": "artwork1", "id": "1"},
                    {"title": "artwork2", "id": "2"}
                ],
                "thumbnail": {
                    "href": "https://d32dm0rphc51dk.cloudfront.net/PFufT6nMKNwLOpPEezf4Ww/four_thirds.jpg"
                }
            },
            {
                "id": "4d8b92724eb68a1b2c000108",
                "name": "James Rosenquist",
                "gender": "male",
                "birthday": "1933",
                "hometown": "Grand Forks, North Dakota",
                "artworks": [
                    {"title": "artwork3", "id": "3"},
                    {"title": "artwork4", "id": "4"}
                ],
                "thumbnail": {
                    "href": "https://d32dm0rphc51dk.cloudfront.net/3VUm07DpKQNQdA_QfCrPcA/four_thirds.jpg"
                }
            },
            {
                "id": "4d8b927b4eb68a1b2c000148",
                "name": "Tom Wesselmann",
                "gender": "male",
                "birthday": "1931",
                "hometown": "Cincinnati, Ohio",
                "artworks": [
                    {"title": "artwork5", "id": "5"},
                    {"title": "artwork6", "id": "6"}
                ],
                "thumbnail": {
                    "href": "https://d32dm0rphc51dk.cloudfront.net/8smV519M1L352CTihrfW7A/four_thirds.jpg"
                }
            }
        ]
        
### View an artist's information [GET /Artist/{id}]

+ Parameters

    + id: `1` (number, required) - The unique id of the artist

+ Response 200 (application/json)

        {
            "id": "4d8b92b34eb68a1b2c0003f4",
            "name": "Andy Warhol",
            "gender": "male",
            "birthday": "1928",
            "hometown": "Pittsburgh, Pennsylvania",
            "artworks": [
                {"title": "artwork1", "id": "1"},
                {"title": "artwork2", "id": "2"}
            ],
            "thumbnail": {
                    "href": "https://d32dm0rphc51dk.cloudfront.net/PFufT6nMKNwLOpPEezf4Ww/four_thirds.jpg"
            }
        }


## Artwork Collection [/Artwork]

### List All Artworks [GET /Artwork]

+ Response 200 (application/json)

        [
            {
                "id": "516dfb9ab31e2b2270000c45",
                "title": "The Old Violin",
                "category": "Painting",
                "medium": "Oil on canvas",
                "date": "1886",
                "artists": [
                    {"name": "Artist1", "id": "1"}
                ],
                "styles": [
                    {"name": "Style1", "id": "1"}
                ],
                "thumbnail": {
                  "href": "https://d32dm0rphc51dk.cloudfront.net/dTGcd0Xx0aEp_MDFdHIUIw/medium.jpg"
                },
            },
            {
                "id": "515b1b6d223afae9a5000bb4",
                "title": "Interior, Fitzwilliam Museum",
                "category": "Drawing, Collage or other Work on Paper",
                "medium": "Brush and black ink with gray wash over graphite on wove paper",
                "date": "1890s",
                "artists": [
                    {"name": "Artist2", "id": "2"}
                ],
                "styles": [
                    {"name": "Style2", "id": "2"}
                ],
                "thumbnail": {
                    "href": "https://d32dm0rphc51dk.cloudfront.net/BxVDS1bsl3gi_ukXsWgyKw/medium.jpg"
                }
            },
            {
                "id": "515b9d2e94714c2e38000920",
                "title": "Aldrich's Dog",
                "category": "Drawing, Collage or other Work on Paper",
                "medium": "Pen and black ink touched with white on buff prepared laid paper",
                "date": "late 1880s",
                "artists": [
                    {"name": "Artist3", "id": "3"}
                ],
                "styles": [
                    {"name": "Style3", "id": "3"}
                ],
                "thumbnail": {
                    "href": "https://d32dm0rphc51dk.cloudfront.net/-uYxnuQbaAxE_0do29CNeQ/medium.jpg"
                }
            }
        ]
        
### View an artwork's information [GET /Artwork/{id}]

+ Parameters
    + id: `1` (number, required) - The unique id of the artwork

+ Response 200 (application/json)

        {
                "id": "516dfb9ab31e2b2270000c45",
                "title": "The Old Violin",
                "category": "Painting",
                "medium": "Oil on canvas",
                "date": "1886",
                "artists": [
                    {"name": "Artist1", "id": "1"}
                ],
                "styles": [
                    {"name": "Style1", "id": "1"}
                ],
                "thumbnail": {
                  "href": "https://d32dm0rphc51dk.cloudfront.net/dTGcd0Xx0aEp_MDFdHIUIw/medium.jpg"
                },
            }


## Style Collection [/Style]

### List All Styles [GET /Style]

+ Response 200 (application/json)

        [
            {
                "id": "4e5e41670d2c670001030350",
                "name": "Pop Art",
                "description": "_“The Pop artists did images that anybody walking down Broadway could recognize in a split second—comics, picnic tables, men’s trousers, celebrities, shower curtains, refrigerators, coke bottles—all the great modern things that the Abstract Expressionists tried so hard not to notice at all.” –[Andy Warhol](/artist/andy-warhol)_\n\nPop Art was the dominant movement in early 1960s American art. Short for “popular art,” it featured common household objects and consumer products like Coca-Cola and Campbell’s Soup cans, as well as forms of media—such as comics, newspapers, and magazines—recognizable to the masses. Artists often created Pop works using mechanical or commercial techniques, such as [silk-screening](/gene/silkscreen-1). As Warhol suggested, the choice of mundane subject matter and machine-like techniques was a blunt rejection of the heroic subjects and methods of [Abstract Expressionism](/gene/abstract-expressionism), the leading American movement of the 1950s. Not often discussed is the fact that Pop Art originated in England and paralleled similar movements in France and Germany. Pop Art was incredibly diverse, especially in its international variants, which included Nouveau Réalisme in France, Capitalist Realism in Germany, and Anti-Art in Japan. ",
                "artworks": [
                    {"title": "artwork1", "id": "1"},
                    {"title": "artwork2", "id": "2"}
                ],
                "number_of_artists": "2",
                "thumbnail": {
                    "href": "https://d32dm0rphc51dk.cloudfront.net/zwMP_9kbs2XcSPTaGLJ6qw/big_and_tall.jpg"
                }
            },
            {
                "id": "4f3eba372ee99a0001000665",
                "name": "Advertising and Brands",
                "description": "Artworks that feature advertisements and logos. [Andy Warhol](/artist/andy-warhol) is most often associated with this practice. His [Pop Art](/gene/pop-art) paintings featuring Campbell’s soup cans and Coca-Cola bottles are icons of contemporary art history. While Pop Art is most often credited with introducing these types of visuals into art history—and moreover, making them the primary feature of an artwork—the practice dates back to [cubist](/gene/cubism) [collage](/gene/collage) in the 1910s. [Pablo Picasso](/artist/pablo-picasso) and [George Braque’s](/artist/georges-braque) papier-collé works commonly included newspaper advertisements. Today, [street artists](/gene/graffiti-slash-street-art) commonly use corporate logos in their work to criticize corporate practices and globalization.",
                "artworks": [
                    {"title": "artwork3", "id": "3"},
                    {"title": "artwork4", "id": "4"}
                ],
                "number_of_artists": "2",
                "thumbnail": {
                    "href": "https://d32dm0rphc51dk.cloudfront.net/jki8jRj3XCMS70bJqN5D2Q/big_and_tall.jpg"
                }
            }
        ]
  
### View a style's information [GET /Style/{id}]

+ Parameters
    + id: `1` (number, required) - The unique id of the style

+ Response 200 (application/json)

        {
            "id": "4e5e41670d2c670001030350",
            "name": "Pop Art",
            "description": "_“The Pop artists did images that anybody walking down Broadway could recognize in a split second—comics, picnic tables, men’s trousers, celebrities, shower curtains, refrigerators, coke bottles—all the great modern things that the Abstract Expressionists tried so hard not to notice at all.” –[Andy Warhol](/artist/andy-warhol)_\n\nPop Art was the dominant movement in early 1960s American art. Short for “popular art,” it featured common household objects and consumer products like Coca-Cola and Campbell’s Soup cans, as well as forms of media—such as comics, newspapers, and magazines—recognizable to the masses. Artists often created Pop works using mechanical or commercial techniques, such as [silk-screening](/gene/silkscreen-1). As Warhol suggested, the choice of mundane subject matter and machine-like techniques was a blunt rejection of the heroic subjects and methods of [Abstract Expressionism](/gene/abstract-expressionism), the leading American movement of the 1950s. Not often discussed is the fact that Pop Art originated in England and paralleled similar movements in France and Germany. Pop Art was incredibly diverse, especially in its international variants, which included Nouveau Réalisme in France, Capitalist Realism in Germany, and Anti-Art in Japan. ",
            "artworks": [
                {"title": "artwork1", "id": "1"},
                {"title": "artwork2", "id": "2"}
            ],
            "number_of_artists": "2",
            "thumbnail": {
                "href": "https://d32dm0rphc51dk.cloudfront.net/zwMP_9kbs2XcSPTaGLJ6qw/big_and_tall.jpg"
            }
        }


## Collection Collection [/Collection]

### List All Collections [GET /Collection]

+ Response 200 (application/json)

        [
            {
                "id": "4f99c7b793ab4b0001000179",
                "type": "Institution",
                "name": "National Gallery of Art, Washington, D.C.",
                "region": "North America",
                "artworks": [
                    {"title": "artwork1", "id": "1"},
                    {"title": "artwork2", "id": "2"}
                ],
                "website": {
                  "href": "http://www.nga.gov"
                }
            }
        ]
  
### Nationality information [GET /Collection/{id}]

+ Parameters
    + id: `1` (number, required) - The unique id of the collection

+ Response 200 (application/json)

        {
                "id": "4f99c7b793ab4b0001000179",
                "type": "Institution",
                "name": "National Gallery of Art, Washington, D.C.",
                "region": "North America",
                "artworks": [
                    {"title": "artwork1", "id": "1"},
                    {"title": "artwork2", "id": "2"}
                ],
                "website": {
                  "href": "http://www.nga.gov"
                }
        }