<script src="sorttable.js"></script>

<div class="container">
<div class="page_header" ng-app="ArtSnob" ng-show="artist != undefined">
    <button type="button" class="btn btn-outline-secondary" style = "font-family:Helvetica Neue" ng-click="ArtistDeselected()">Back to Table</button>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading" style="text-align:center;">{{artist.name}}</h1>
                </div>
            </div>
        </div>
    </header>
    <div class="my-block">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <p style="text-align:center;"><img src="{{artist.thumbnail.href}}" style = "max-width:95%;border:6px double #545565;" alt="alternative text" width="256" height="256" ></img></p>
              </div>
            </div>
          </div>
    </div>

    <div class="col-lg-8 col-lg-offset-2">
        <div id="display">
          <table id="data" style="width:90%; font-family: Helvetica Neue" class="sortable">
            <tr>
                <td><b>Name</b></td><td>{{artist.name}}</td>
            </tr>
            <tr>
                <td><b>Gender</b></td><td>{{artist.gender}}</td>
            </tr>
            <tr>
                <td><b>Birth Year</b></td><td>{{artist.birthday}}</td>
            </tr>
            <tr>
                <td><b>Birth Place</b></td><td>{{artist.hometown}}</td>
            </tr>
            <tr>
                <td><b>Artwork</b></td><td>{{artist.artwork}}</td>
            </tr>
          </table>
        </div>
    </div>
</div>
<div class="page_header" ng-app="ArtSnob" ng-show="artist == undefined" >
  <div class="col-lg-8 col-lg-offset-2">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Artist</h1>
                </div>
            </div>
        </div>
    </header>
    <div id="display">
        {{response}}
      <table id="data" style="width:90%" class="sortable">
        <tr>
            <th>Name</td>
            <th>Gender</td>
            <th>Birth Year</td>
            <th>Birth Place</td>
            <th>Styles</td>
        </tr>
        <tr ng-repeat="item in objects track by $index">
            <td>
                <a class="page-scroll" ng-click="ArtistSelected(item)">
                {{item.name}}
                </a>
            </td>
            <td> {{item.gender}} </td>
            <td> {{item.birthday}} </td>
            <td> {{item.hometown}} </td>
            <td> {{item.style}} </td>
        </tr>
      </table>
    </div>
  </div>
</div>
