<script src="js/sortable.js"></script>
<div class="container">
<div ng-show="artist != undefined">
    <button type="button" ng-click="ArtistDeselected()">X</button>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">{{artist.name}}</h1>
                </div>
            </div>
        </div>
    </header>
    <div class="my-block">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <p style="text-align:center;"><img src="{{item.thumbnail.href}}" alt="alternative text" width="256" height="256" ></img></p>
              </div>
            </div>
          </div>
    </div>

    <div class="col-lg-8 col-lg-offset-2">
        <div id="display">
          <table id="data" style="width:90%" class="sortable">
            <tr>
                <td>Name</td><td>{{artist.name}}</td>
            </tr>
            <tr>
                <td>Gender</td><td>{{artist.gender}}</td>
            </tr>
            <tr>
                <td>Birth Year</td><td>{{artist.birthday}}</td>
            </tr>
            <tr>
                <td>Birth Place</td><td>{{artist.hometown}}</td>
            </tr>
            <tr>
                <td>Artwork</td><td>{{artist.artwork}}</td>
            </tr>
          </table>
        </div>
    </div>
</div>
<div ng-show="artist == undefined" class="col-lg-8 col-lg-offset-2">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Artist</h1>
                </div>
            </div>
        </div>
    </header>
    <div id="display">
      <table id="data" style="width:90%" class="sortable">
        <tr>
            <th>Name</td>
            <th>Gender</td>
            <th>Birth Year</td>
            <th>Birth Place</td>
            <th>Styles</td>
        </tr>
        <tr ng-repeat="item in objects track by $index">
            <td>
                <a class="page-scroll" ng-click="ArtistSelected(item)">
                {{item.name}}
                </a>
            </td>
            <td> {{item.gender}} </td>
            <td> {{item.birthday}} </td>
            <td> {{item.hometown}} </td>
            <td> {{item.style}} </td>
        </tr>
      </table>
    </div>
</div>