<div class="container">
<div class="page_header" ng-app="ArtSnob" ng-show="artist != undefined">
    <button type="button" class="btn btn-outline-secondary" style = "font-family:Helvetica Neue" ng-click="ArtistDeselected()">Back to Table</button>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading" style="text-align:center;">{{artist.name}}</h1>
                </div>
            </div>
        </div>
    </header>
    <div class="my-block">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <p style="text-align:center;"><img src="{{artist.image}}" style = "max-width:95%;border:6px double #545565;" alt="alternative text" width="256" height="256" ></img></p>
              </div>
            </div>
          </div>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
        <div id="display">
            <table id="data" style="width:90%; font-family: Helvetica Neue" class="sortable">
                <tr>
                    <td><b>Name</b></td><td>{{artist.name}}</td>
                </tr>
                <tr>
                    <td><b>Gender</b></td><td>{{artist.gender}}</td>
                </tr>
                <tr>
                    <td><b>Birth Year</b></td><td>{{artist.birth}}</td>
                </tr>
                <tr>
                    <td><b>Birth Place</b></td><td>{{artist.hometown}}</td>
                </tr>
                <tr>
                    <td><b>Artwork</b></td>
                    <td>
                        <a class="page-scroll" ng-click="ArtworkSelected(artist.artworks[0])">
                            {{artist.artworks[0].title}}
                        </a>
                        <!--idk why this is only working when it is p, I'll fix it later -Courtney -->
                        <!-- <p ng-repeat="artwork in artist.artworks track by $index">
                            <a class="page-scroll" ng-click="ArtworkSelected(artwork)">
                            {{artwork.title}}
                            </a>
                        </p> -->
                    </td>
                </tr>
            </table>
            <!-- or maybe we could put a table at the bottom with all the artwork? -Courtney -->
<!--             <h3>Artwork</h3>
            <table id="data" style="width:90%; font-family: Helvetica Neue" class="sortable">
                <tr ng-repeat="artwork in artist.artworks track by $index">
                    <a class="page-scroll" ng-click="ArtworkSelected(artwork)">
                    {{artwork.title}}  </a>
                </tr>
            </table> -->
        </div>
    </div>
</div>
<div class="page_header" ng-app="ArtSnob" ng-show="artist == undefined" >
  <div class="col-lg-8 col-lg-offset-2">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Artist</h1>
                </div>
            </div>
        </div>
    </header>
    <div id="display">
      <!-- <table id="data" style="width:90%" class="sortable">
        <tr>
            <th>
              <a ng-click="sortType = 'name'; sortReverse = !sortReverse">
                Name
              <span ng-show="sortType == 'name'" class="fa fa-caret-down"></span>
            </a>
          </td>
            <th>
              <a ng-click="sortType = 'gender'; sortReverse = !sortReverse">
                 <span ng-show="sortType == 'gender'" class="fa fa-caret-down"></span>
                Gender
              </a>
            </td>
            <th>
              <a ng-click="sortType = 'birth'; sortReverse = !sortReverse">
                <span ng-show="sortType == 'birth'" class="fa fa-caret-down"></span>
              Birth Year
            </a>
          </td>
            <th>
              <a ng-click="sortType = 'birthp'; sortReverse = !sortReverse">
                <span ng-show="sortType == 'birthp'" class="fa fa-caret-down"></span>
                Birth Place
              </a>
              </td>
            <th>
              <a ng-click="sortType = 'artwork'; sortReverse = !sortReverse">
                <span ng-show="sortType == 'artwork'" class="fa fa-caret-down"></span>
                Artwork
              </a>
              </td>
        </tr>
        <tr ng-repeat="item in objects | orderBy:sortType:sortReverse">
            <td>
                <a class="page-scroll" ng-click="ArtistSelected(item)">
                {{item.name}}
                </a>

            <td> {{item.gender}} </td>
            <td> {{item.birth}} </td>
            <td> {{item.hometown}} </td>
            <td>
                <a class="page-scroll" ng-click="ArtworkSelected(item.artworks[0].id)" href="#/artwork">
                    {{item.artworks[0].title}}
                </a>
            </td>
        </tr>
      </table> -->

        <table st-table="objects" class="table" st-safe-src="rowCollection">
        <thead>
        <tr>
          <th st-sort="name" st-sort-default="true">Name</th>
          <th st-sort="gender">Gender</th>
          <th st-sort="birth">Birthyear</th>
          <th st-sort="hometown">Hometown</th>
          <th st-sort="artworks[0].title">Sample Piece</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in objects">
          <td><a class="page-scroll" ng-click="ArtistSelected(row)">{{row.name}}</a></td>
          <td>{{row.gender}}</td>
          <td>{{row.birth}}</td>
          <td>{{row.hometown}}</td>
          <td><a class="page-scroll" ng-click="ArtworkSelected(item.artworks[0].id)" href="#/artwork">{{row.artworks[0].title}}</a></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="5" class="text-center">
            <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
          </td>
        </tr>
      </tfoot>
      </table>
    </div>
  </div>
</div>
