{% extends "base.html" %}

{% block content %}
<header class="page_header">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="brand-heading">Artist</h1>
            </div>
        </div>
    </div>
</header>
<div class="col-lg-8 col-lg-offset-2">
    <div id="display">
    	{{result}}
<!--       <table id="data" style="width:90%" class="sortable">
        <tr>
            <td>Name</td><td>{{result.get('name')}}</td>
        </tr>
        <tr>
            <td>Gender</td><td>{{result.get('gender')}}</td>
        </tr>
        <tr>
            <td>Birth Year</td><td>{{result.get('birthday')}}</td>
        </tr>
        <tr>
            <td>Birth Place</td><td>{{result.get('hometown')}}</td>
        </tr>
        <tr>
            <td>Artwork</td><td>{{artwork}}</td>
        </tr>
      </table> -->
    </div>
</div>


{% endblock %}