{% extends "base.html" %}

{% block content %}
<script src="js/sortable.js"></script>

<header class="page_header">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="brand-heading">Artist</h1>
            </div>
        </div>
    </div>
</header>
<div class="container">
<div class="col-lg-8 col-lg-offset-2">
    <div id="display">
      <table id="data" style="width:90%" class="sortable">
        <tr>
            <th>Name</td>
            <th>Gender</td>
            <th>Birth Year</td>
            <th>Birth Place</td>
            <th>Styles</td>
        </tr>
        {% for artist in result.get('_embedded').get('artists') %}
        <tr>
            <td>
                <a class="page-scroll" href="artists/{{artist.get('id')}}">
                {{artist.get('name')}}
                </a>
            </td>
            <td> {{artist.get('gender')}} </td>
            <td> {{artist.get('birthday')}} </td>
            <td> {{artist.get('hometown')}} </td>
            <td> style </td>
        </tr>
        {% endfor %}
      </table>
    </div>
</div>

{% endblock %}
