{% extends "base.html" %}

{% block content %}

        <div class="carousel slide carousel-fade" data-ride="carousel">

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
              <div class="item active">
              </div>
              <div class="item">
              </div>
              <div class="item">
              </div>
          </div>
      </div>

      <head>
              <style>

              html, body {
                  height: 100%;
                  margin: 0;
                  padding: 0;
                  width: 100%;
              }

              body {
                  display: table;
              }

              .my-block {
                  text-align: center;
                  display: table-cell;
                  vertical-align: middle;
              }
              </style>
          </head>
          <body>
          <div class="my-block">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">ArtSnob</h1>
                    </div>
                </div>
            </div>
          </div>
          </body>





{% endblock %}
