{% extends "base.html" %}

{% block content %}
<header class="page_header">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="brand-heading">Style</h1>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="col-lg-8 col-lg-offset-2">
    <div id="display">
      <table id="data" style="width:90%" class="sortable">
        <tr>
            <td>Name</td>
            <td>Period</td>
            <td>Artist</td>
            <td>Artwork</td>
            <td>Region</td>
        </tr>
        <tr>
            <td>
                <a class="page-scroll" href="/PopArt.html">Pop Art</a>
            </td>
            <td>1950's</td>
            <td>
                <a class="page-scroll" href="/andywarhol.html">Andy Warhol</a>
            </td>
            <td>
                <a class="page-scroll" href="/Soup">Campbell's Soup</a>
            </td>
            <td>
                <a class="page-scroll" href="/America">America</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="page-scroll" href="/StillLife.html">Still Life</a>
            </td>
            <td>1960's</td>
            <td>
                <a class="page-scroll" href="/WilliamMichaelHarnett.html">William Michael Harnett</a>
            </td>
            <td>
                <a class="page-scroll" href="/violin">The Old Violin</a>
            </td>
            <td>
                <a class="page-scroll" href="/Ireland">Ireland</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="page-scroll" href="/Cubism.html">Cubism</a>
            </td>
            <td>1930's</td>
            <td>
                <a class="page-scroll" href="/PabloPicasso.html">Pablo Picasso</a>
            </td>
            <td>
                <a class="page-scroll" href="/Guernica">Guernica</a>
            </td>
            <td>
                <a class="page-scroll" href="/Spain">Spain</a>
            </td>
        </tr>
      </table>
    </div>
</div>
{% endblock %} 
